docker.enabled = true

params {
    vcf_dir = "s3://lifebit-featured-datasets/IGV"
    outdir = './results'
    queueSize = 200
    echo = true
    cpus = 4
    maxForks = 200
    maxRetries = 5
    container = 'quay.io/lifebitai/ubuntu:18.10'
    errorStrategy = 'finish'

    file_count = 3
    before_cmd = "du -h; df -h"
    after_cmd = "du -h; df -h"
    }

process {
    echo = params.echo
    cpus = params.cpus
    maxForks = params.maxForks
    maxRetries = params.maxRetries
    container = params.container
    errorStrategy = params.errorStrategy
    withLabel: 'bcftools' {
        container = "quay.io/lifebitai/bcftools"
        memory = 6.GB
        cpus = 4
    }
}



